<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Monitor compare</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
      .table th, .table td {
        font-size: 25px;
      }
    </style>
    
  </head>
  <body>
    <div class="container mt-5"> 
      <div class="row justify-content-center mb-4">   
        <div class="col-6"> 
          <form action="/search" method="get">
            <input type="text" class="form-control" placeholder="Search" name="query">
          </form>
        </div>
      </div>
    <!-- <input type="text" class="input" placeholder="search"> -->
    </div>
    <table class="table table-hover is-fullwidth">
      <thead>
        <tr>

          <th scope="col">Description</th>
          <th scope="col">Price</th>
          <th scope="col">Website</th>
          <th scope="col">Stock</th>
        </tr>
      </thead>
      <tbody>
        {% for product in productDetails %}
        <tr>

          <td scope="row">{{ product['Description'] }} </td>
          <td scope="row">{{ product['Price'] }} </td>
          <td scope="row">{{ product['Website'] }} </td>
          <td scope="row">{{ product['Stock'] }} </td>

        </tr>
        {% endfor %}
      </tbody>
    </table>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script> 
  

  

  </body>
</html>


